<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <style>
        body{
            
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>Enter your user details</h1>
    <label for="name">Enter your name: <input type="text" id="name" name="name"></label><br><br>
    
    <label for="email">Enter your email: <input type="email" name="email" id="email"></label><br><br>

    <label for="phone_no">Enter your phone number: <input type="tel" name="phone_no" id="phone_no"></label><br><br>

    <input type="submit" value="Submit">
</body>
</html>
